.chart-container {
  position: relative;
  width: 1122px;
  height: 452px;
  border: 1px solid grey;
  margin: 24px auto 0 auto;
  .grid { 
    .tick {
      stroke: lightgrey;
      opacity: 0.7;
      line {
        stroke: lightgrey;
        opacity: 0.7;
      }
    }
    path {
      stroke-width: 0;
    }
  }
  &__slider {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 44px;
    left: 3%;
    width: 95.5%;
    height: 15px;
    border-radius: 100px;
    background-color: lightgray;
    overflow: visible;
    ul {
      position: relative;
      height: 100%;
      flex-basis: 100%;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: flex-start;
      font-size: 10px;
      list-style: none;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      -webkit-padding-start: 0px;
      overflow-y: visible;
      border-right: 1px solid white;
      li {
        position: relative;
        display: inline-block;
        height: 100%;
        width: 100%;
        border-right: 1px solid lightgray;
        background-color: #c5b9b9;
        overflow-y: visible;
        cursor: pointer;
        p {
          position: absolute;
          top: 90%;
          left: 0%;
          transform: translate(-50%, 0);
        }
        &.selected {
          background-color: blue;
          cursor: pointer;
          border-right: none;
        }
      }
    }
  } 

  &__chart {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 20px;
    overflow: hidden;
    .bar {
      fill: coral;
    }
  }
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  font-family: inherit;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline-block;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}