<template>
  <div class="bar-chart chart-container">
    <svg class="chart-container__chart"></svg>
    <div class="chart-container__slider">
      <ul v-for="(week, index) in totalDays" :key="index">
        <li 
        :class="{ 'selected' : xLabels.map(d => d.toISOString()).includes(day.toISOString())}" 
        v-for="(day, dIndex) in week" 
        :key="day.toISOString()"
        @click.prevent.stop="moveTo(day.toISOString())"
        @mousedown.prevent.stop="startSliding(day.toISOString())"
        @mousemove="slideTo(day.toISOString())"
        >
          <p v-if="dIndex === 0">{{ formatDate(day.toISOString()) }}</p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import tip from 'd3-tip';
import * as d3 from 'd3';
import moment from 'moment';
import { chunk, findIndex } from 'lodash/array';
import chartMixin from '../mixins/charts.mixin';

export default {
  name: 'BarChart',
  mixins: [
    chartMixin,
  ],
  props: {
    chartData: {
      default: () => ([]),
      type: Array,
    },
    options: {
      default: () => ({}),
      type: Object,
    },
  },
  data() {
    return {
      margin: {
        left: 20,
        right: 20,
        top: 20,
        bottom: 60,
      },
      grid: {
        horizontal: true,
        vertical: false,
      },
      scales: {
        x: null,
        y: null,
      },
      axis: {
        x: null,
        y: null,
      },
      fakeAxis: {
        x: null,
        y: null,
      },
      bars: {
        width: null,
        height: null,
        margin: 5,
      },
      animation: {
        duration: 750,
      },
      chart: null,
      chartContainer: null,
      selectedIndex: 0,
      selectionLength: 7,
      slideTimeout: null,
    };
  },
  methods: {
    drawBars() {
      this.chart.selectAll('bar')
                .data(this.yData)
                .enter()
                .append('rect')
                .attr('class', 'bar')
                .attr('x', (d, i) => this.scales.x(this.xLabels[i]))
                .attr('y', d => this.height + this.margin.top)
                .attr('width', this.scales.x.bandwidth())
                .attr('height', d => 0)
                .on('mouseover', this.tooltips.show)
                .on('mouseout', this.tooltips.hide);
    },
    createTooltips() {
      this.tooltips = tip()
                        .attr('class', 'd3-tip')
                        .offset([-10, 0])
                        .html(d => `<p><b>Post view visits</b>: ${d}</p>`);
    },
    updateData() {
      const svg = this.chart.transition().duration(this.animation.duration);

      this.scales.x.domain(this.xLabels).padding(0.1);
      this.scales.y.domain([d3.max(this.yData), 0]).nice(1);

      this.chart.selectAll('.bar')
                .data(this.yData)
                .transition()
                .duration(this.animation.duration)
                .attr('x', (d, i) => this.scales.x(this.xLabels[i]))
                .attr('y', d => this.scales.y(d))
                .attr('width', this.scales.x.bandwidth())
                .attr('height', d => (this.height + this.margin.top) - this.scales.y(d));
      svg.select(".axis--x") // change the x axis
                .call(this.axis.x);
      svg.select(".axis--y") // change the y axis
                .call(this.axis.y);
    },
    draw() {
      this.createGraph();
      this.createScales();
      this.createAxis();
      this.createTooltips();
      this.drawGrid();

      this.bars = {
        width: (this.width - (this.margin.left + this.margin.right + (this.bars.margin * 2 * this.xLabels.length))) / this.xLabels.length,
      };

      this.drawBars();
      // this.drawLegend();
      this.chart.call(this.tooltips);
    },
  },
  mounted() {
    this.draw();
    this.updateData();
    window.addEventListener('mouseup', () => this.isSliding = false);
  }
}
</script>

<style lang="scss">
  @import '../styles/chart.scss';
</style>