<template>
  <div class="line-chart chart-container">
    <svg class="chart-container__chart"></svg>
    <div class="chart-container__slider">
      <ul v-for="(week, index) in totalDays" :key="index">
        <li 
        :class="{ 'selected' : xLabels.map(d => d.toISOString()).includes(day.toISOString())}" 
        v-for="(day, dIndex) in week" 
        :key="day.toISOString()"
        @click.prevent.stop="moveTo(day.toISOString())"
        @mousedown.prevent.stop="startSliding(day.toISOString())"
        @mousemove="slideTo(day.toISOString())"
        >
          <p v-if="dIndex === 0">{{ formatDate(day.toISOString()) }}</p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import tip from 'd3-tip';
import * as d3 from 'd3';
import moment from 'moment';
import { chunk, findIndex } from 'lodash/array';
import chartMixin from '../mixins/charts.mixin';

export default {
  name: 'LineChart',
  mixins: [
    chartMixin,
  ],
  props: {
    chartData: {
      default: () => ([]),
      type: Array,
    },
    options: {
      default: () => ({}),
      type: Object,
    },
  },
  data() {
    return {
      margin: {
        left: 20,
        right: 20,
        top: 20,
        bottom: 60,
      },
      grid: {
        horizontal: true,
        vertical: true,
      },
      scales: {
        x: null,
        y: null,
      },
      axis: {
        x: null,
        y: null,
      },
      fakeAxis: {
        x: null,
        y: null,
      },
      lines: {
        fill: 'none',
        circles: {
          radius: 5,
          fill: 'black',
        },
        stroke: {
          color: 'blue',
          linejoint: 'round',
          linecap: 'round',
          width: 1.5,
        },
        line: null,
      },
      animation: {
        duration: 750,
      },
      chart: null,
      chartContainer: null,
      slideTimeout: null,
      selectedIndex: 0,
      selectionLength: 7,
    };
  },
  methods: {
    createGraph() {
      this.chartContainer = d3.select(this.$el.querySelector('svg.chart-container__chart'));
      this.chart = this.chartContainer.append("g")
                                      .attr("transform", `translate(0, ${-this.margin.bottom})`);
    },
    drawLines() {
      this.chart.append("path")
                .attr('class', 'line')
                .datum(this.yData)
                .transition()
                .duration(this.animation.duration)
                .attr("fill", this.lines.fill)
                .attr("stroke", this.lines.stroke.color)
                .attr("stroke-linejoin", this.lines.stroke.linejoint)
                .attr("stroke-linecap", this.lines.stroke.linecap)
                .attr("stroke-width", this.lines.stroke.width)
                .attr("d", this.lines.line)
      
      this.chart.append('g')
                .selectAll('.circle')
                .data(this.yData)
                .enter()
                .append('circle')
                .attr('class', 'circle')
                .attr('cx', (_, i) => this.scales.x(this.xLabels[i]) + this.scales.x.bandwidth() / 2)
                .attr('cy', d => this.scales.y(d))
                .attr('r', this.lines.circles.radius)
                .attr('fill', this.lines.circles.fill)
                .on('mouseover', this.tooltips.show)
                .on('mouseout', this.tooltips.hide);
    },
    createTooltips() {
      this.tooltips = tip()
                      .attr('class', 'd3-tip')
                      .offset([-10, 0])
                      .html(d => `<p><b>Uplift</b>: ${d}</p>`);
    },
    updateData() {
      const svg = this.chart.transition().duration(this.animation.duration);

      this.scales.x.domain(this.xLabels).padding(0.1);
      this.scales.y.domain([d3.max(this.yData), 0]).nice(1);

      this.chart.select(".line")
                .datum(this.yData)
                .transition()
                .duration(this.animation.duration)
                .attr("d", this.lines.line);

      this.chart.selectAll('.circle')
              .data(this.yData)
              .transition()
              .duration(this.animation.duration)
              .attr('cx', (_, i) => this.scales.x(this.xLabels[i]) + this.scales.x.bandwidth() / 2)
              .attr('cy', d => this.scales.y(d))
              .attr('r', this.lines.circles.radius)
              .attr('fill', this.lines.circles.fill);

      svg.select(".axis--x") // change the x axis
                .call(this.axis.x);
      svg.select(".axis--y") // change the y axis
                .call(this.axis.y);
      
    },
    draw() {
      this.createGraph();
      this.createScales();
      this.createAxis();
      this.createTooltips();
      this.drawGrid();

      this.lines.line = d3.line()
                      .x((_, i) => { return this.scales.x(this.xLabels[i]) + this.scales.x.bandwidth() / 2; })
                      .y((d) => { return this.scales.y(d); })

      this.drawLines();
      // this.drawLegend();
      this.chart.call(this.tooltips);
    },
  },
  mounted() {
    this.draw();
    this.updateData();
    window.addEventListener('mouseup', () => this.isSliding = false);
  },
}
</script>


<style lang="scss">
  @import '../styles/chart.scss';
</style>