<template>
  <div id="app">
    <BarChart :chart-data="barChartData"></BarChart>
    <LineChart :chart-data="barChartData"></LineChart>
  </div>
</template>

<script>
import BarChart from './components/BarChart.vue';
import LineChart from './components/LineChart.vue';

export default {
  name: 'app',
  components: {
    BarChart,
    LineChart,
  },
  data() {
    return {
      barChartData: [
        {
          TIMESTAMP: '2018-02-01T10:22:20Z',
          data: 68,
        },
        {
          TIMESTAMP: '2018-01-30T10:22:20Z',
          data: 45,
        },
        {
          TIMESTAMP: '2018-01-29T10:22:20Z',
          data: 40,
        },
        {
          TIMESTAMP: '2018-01-28T10:22:20Z',
          data: 32,
        },
        {
          TIMESTAMP: '2018-01-27T10:22:20Z',
          data: 26,
        },
        {
          TIMESTAMP: '2018-01-26T10:22:20Z',
          data: 20,
        },
        {
          TIMESTAMP: '2018-01-25T10:22:20Z',
          data: 13,
        },
        {
          TIMESTAMP: '2018-01-24T10:22:20Z',
          data: 10,
        },
        {
          TIMESTAMP: '2018-01-23T10:22:20Z',
          data: 6,
        },
        {
          TIMESTAMP: '2018-02-02T10:22:20Z',
          data: 168,
        },
        {
          TIMESTAMP: '2018-02-03T10:22:20Z',
          data: 145,
        },
        {
          TIMESTAMP: '2018-02-04T10:22:20Z',
          data: 140,
        },
        {
          TIMESTAMP: '2018-02-05T10:22:20Z',
          data: 132,
        },
        {
          TIMESTAMP: '2018-02-06T10:22:20Z',
          data: 126,
        },
        {
          TIMESTAMP: '2018-02-07T10:22:20Z',
          data: 120,
        },
        {
          TIMESTAMP: '2018-02-08T10:22:20Z',
          data: 113,
        },
        {
          TIMESTAMP: '2018-02-09T10:22:20Z',
          data: 110,
        },
        {
          TIMESTAMP: '2018-02-10T10:22:20Z',
          data: 16,
        },
      ],
    };
  },
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
